<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">

    <display-name>Bedel</display-name>
    <description>
        Manteinance App
    </description>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>ObtenerEspacioPorCoordenadas</servlet-name>
        <servlet-class>aplicacion.ObtenerEspacioPorCoordenadasServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ObtenerEspacioPorCoordenadas</servlet-name>
        <url-pattern>/obtenerEspacioPorCoordenadas</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ObtenerIncidencias</servlet-name>
        <servlet-class>aplicacion.ObtenerIncidenciasServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ObtenerIncidencias</servlet-name>
        <url-pattern>/obtenerIncidencias</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>aplicacion.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CrearIncidencia</servlet-name>
        <servlet-class>aplicacion.CrearIncidenciaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrearIncidencia</servlet-name>
        <url-pattern>/crearIncidencia</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CambiarEstadoIncidencia</servlet-name>
        <servlet-class>aplicacion.CambiarEstadoIncidenciaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CambiarEstadoIncidencia</servlet-name>
        <url-pattern>/cambiarEstadoIncidencia</url-pattern>
    </servlet-mapping>

</web-app>